<div class="container">
	<table class="table table-striped table-hover">
		<%= table_head%>
		<tbody>
			<% generate_hour_range.each do |hour| %>
				<tr>
					<th><%=hour%></td>
					<% days_of_week.each do |day|%>
						<td> <a> Disponível </a> </td>
					<%end%>
				</tr>
			<%end%>
		</tbody>
	</table>
</div>

