@import "bootstrap-sprockets";
@import "bootstrap";

.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}
.gainsboro {
    background-color: Gainsboro !important;
}
.text-red {
	color: red !important;
}

a:hover {
	cursor: pointer; 
}

span.text-red {
	padding: 1px 7px;
}

span.text-red:hover {
	text-shadow: 2px 2px #333333;
}
